/* Hide "Press Enter to apply" text on inputs */
div[data-testid="InputInstructions"] > span:nth-child(1) {
    visibility: hidden;
}

/* Sets top padding */
.block-container {
    padding-top: 4rem;
}